In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import re

## Acquire and Prepare

I am going to pull in each award show dataset to clean up to then combine dataframes.

### The Academy Awards

In [2]:
df = pd.read_csv('data/academy_awards.csv')

In [3]:
df.head()

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson

In [4]:
df.tail()

,year,category,winner,entity
11053,2017,SCIENTIFIC AND TECHNICAL AWARD (Scientific and...,True,"To LEONARD CHAPMAN for the overall concept, de..."
11054,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To JASON SMITH and JEFF WHITE for the original...
11055,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,"To JOE MANCEWICZ, MATT DERKSEN and HANS RIJPKE..."
11056,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ALEX POWELL for his contribution to the des...
11057,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ROB JENSEN for the foundational design and ...

In [5]:
df.shape

(11058, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11058 entries, 0 to 11057
Data columns (total 4 columns):
year        11058 non-null int64
category    11058 non-null object
winner      11058 non-null bool
entity      11058 non-null object
dtypes: bool(1), int64(1), object(2)
memory usage: 270.1+ KB

In [7]:
df.year.unique()

array([1927, 1928, 1929, 1930, 1931, 1932, 1934, 1935, 1936, 1937, 1938,
       1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949,
       1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017])

In [8]:
df.category.unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SCIENTIFIC OR TECHNICAL AWARD (Class I)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class II)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class III)',
       'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)',
       'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'FILM EDITING',
       'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION',
       'WRITING (Screenplay)', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A SUPPORTING ROLE', 'SHORT SUBJECT (Color)',
       'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)',
       'IRVING G. THALBERG MEMORIAL AWARD', 'MUSIC (Original Score)',
       'CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)',
       'SPECIAL EFFECTS', 'ART DIRECTION (Black-and-White)',
       'ART DIRECTION (Color)', 'WRITING (Original Screenplay)',
       'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MEDAL OF COMMENDATION', 'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'SCIENTIFIC OR TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC OR TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC OR TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'GORDON E. SAWYER AWARD', 'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'AWARD OF COMMENDATION',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'SCIENTIFIC AND TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC AND TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC AND TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Musical or Comedy Score)',
       'JOHN A. BONNER MEDAL OF COMMENDATION', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'SCIENTIFIC AND TECHNICAL AWARD (Special Award)'], dtype=object)

### To Do: 
- **Pull out only the categories I want to use**
    - Best Film
    - Best Actor/Actress
    - Supporting Actor/Actress

- **Normalize the categories throughout the years.**
- **Normalize the text**
- **Change title of 'winner' category**
- **Add in the years 2018, 2019, 2020**

In [9]:
# categories I need to pull out are:
# actress, actor, actress in a supporting role, actor in a supporting role, actor in a leading role,
# actress in a leading role, best motion picture, outstanding picture, outstanding motion picture

In [10]:
# lowercase letters
df['entity'].str.lower()

0                                      richard barthelmess
1                                            emil jannings
2                                           louise dresser
3                                             janet gaynor
4                                           gloria swanson
                               ...
11053    to leonard chapman for the overall concept, de...
11054    to jason smith and jeff white for the original...
11055    to joe mancewicz, matt derksen and hans rijpke...
11056    to alex powell for his contribution to the des...
11057    to rob jensen for the foundational design and ...
Name: entity, Length: 11058, dtype: object

In [11]:
df[df.category == 'ACTOR'].replace('ACTOR', 'lead_actor')

      year    category  winner               entity
0     1927  lead_actor   False  Richard Barthelmess
1     1927  lead_actor    True        Emil Jannings
35    1928  lead_actor   False      George Bancroft
36    1928  lead_actor    True        Warner Baxter
37    1928  lead_actor   False       Chester Morris
...    ...         ...     ...                  ...
5560  1975  lead_actor   False       Walter Matthau
5561  1975  lead_actor    True       Jack Nicholson
5562  1975  lead_actor   False            Al Pacino
5563  1975  lead_actor   False    Maximilian Schell
5564  1975  lead_actor   False       James Whitmore

[232 rows x 4 columns]

In [12]:
df[df.category == 'ACTOR IN A LEADING ROLE'].replace('ACTOR IN A LEADING ROLE', 'lead_actor')

       year    category  winner              entity
5676   1976  lead_actor   False      Robert De Niro
5677   1976  lead_actor    True         Peter Finch
5678   1976  lead_actor   False  Giancarlo Giannini
5679   1976  lead_actor   False      William Holden
5680   1976  lead_actor   False  Sylvester Stallone
...     ...         ...     ...                 ...
10920  2017  lead_actor   False   Timothée Chalamet
10921  2017  lead_actor   False    Daniel Day-Lewis
10922  2017  lead_actor   False      Daniel Kaluuya
10923  2017  lead_actor    True         Gary Oldman
10924  2017  lead_actor   False   Denzel Washington

[210 rows x 4 columns]

In [13]:
df[df.category == 'ACTRESS'].replace('ACTRESS', 'lead_actress')

      year      category  winner           entity
2     1927  lead_actress   False   Louise Dresser
3     1927  lead_actress    True     Janet Gaynor
4     1927  lead_actress   False   Gloria Swanson
40    1928  lead_actress   False  Ruth Chatterton
41    1928  lead_actress   False    Betty Compson
...    ...           ...     ...              ...
5570  1975  lead_actress   False  Isabelle Adjani
5571  1975  lead_actress   False      Ann-Margret
5572  1975  lead_actress    True  Louise Fletcher
5573  1975  lead_actress   False   Glenda Jackson
5574  1975  lead_actress   False       Carol Kane

[236 rows x 4 columns]

In [14]:
df[df.category == 'ACTRESS IN A LEADING ROLE'].replace("ACTRESS IN A LEADING ROLE", 'lead_actress')

       year      category  winner                    entity
5686   1976  lead_actress   False  Marie-Christine Barrault
5687   1976  lead_actress    True              Faye Dunaway
5688   1976  lead_actress   False               Talia Shire
5689   1976  lead_actress   False              Sissy Spacek
5690   1976  lead_actress   False               Liv Ullmann
...     ...           ...     ...                       ...
10930  2017  lead_actress   False             Sally Hawkins
10931  2017  lead_actress    True         Frances McDormand
10932  2017  lead_actress   False             Margot Robbie
10933  2017  lead_actress   False             Saoirse Ronan
10934  2017  lead_actress   False              Meryl Streep

[210 rows x 4 columns]

In [15]:
df[df.category == 'ACTRESS IN A SUPPORTING ROLE'].replace("ACTRESS IN A SUPPORTING ROLE", 'supporting_actress')

       year            category  winner             entity
453    1936  supporting_actress   False       Beulah Bondi
454    1936  supporting_actress   False        Alice Brady
455    1936  supporting_actress   False   Bonita Granville
456    1936  supporting_actress   False  Maria Ouspenskaya
457    1936  supporting_actress    True   Gale Sondergaard
...     ...                 ...     ...                ...
10935  2017  supporting_actress   False      Mary J. Blige
10936  2017  supporting_actress    True     Allison Janney
10937  2017  supporting_actress   False    Lesley Manville
10938  2017  supporting_actress   False     Laurie Metcalf
10939  2017  supporting_actress   False    Octavia Spencer

[410 rows x 4 columns]

In [16]:
df[df.category == 'ACTOR IN A SUPPORTING ROLE'].replace("ACTOR IN A SUPPORTING ROLE", 'supporting_actor')

       year          category  winner               entity
443    1936  supporting_actor   False          Mischa Auer
444    1936  supporting_actor    True       Walter Brennan
445    1936  supporting_actor   False         Stuart Erwin
446    1936  supporting_actor   False       Basil Rathbone
447    1936  supporting_actor   False        Akim Tamiroff
...     ...               ...     ...                  ...
10925  2017  supporting_actor   False         Willem Dafoe
10926  2017  supporting_actor   False      Woody Harrelson
10927  2017  supporting_actor   False      Richard Jenkins
10928  2017  supporting_actor   False  Christopher Plummer
10929  2017  supporting_actor    True         Sam Rockwell

[410 rows x 4 columns]

In [17]:
df[df.category == 'OUTSTANDING PICTURE']

    year             category  winner                  entity
19  1927  OUTSTANDING PICTURE   False       The Caddo Company
20  1927  OUTSTANDING PICTURE   False                     Fox
21  1927  OUTSTANDING PICTURE    True  Paramount Famous Lasky
62  1928  OUTSTANDING PICTURE   False     Feature Productions
63  1928  OUTSTANDING PICTURE   False                     Fox
64  1928  OUTSTANDING PICTURE    True     Metro-Goldwyn-Mayer
65  1928  OUTSTANDING PICTURE   False     Metro-Goldwyn-Mayer
66  1928  OUTSTANDING PICTURE   False  Paramount Famous Lasky

In [18]:
df[df.category == 'OUTSTANDING PRODUCTION']

      year                category  winner                          entity
100   1929  OUTSTANDING PRODUCTION    True  All Quiet on the Western Front
101   1929  OUTSTANDING PRODUCTION   False                   The Big House
102   1929  OUTSTANDING PRODUCTION   False                        Disraeli
103   1929  OUTSTANDING PRODUCTION   False                    The Divorcee
104   1929  OUTSTANDING PRODUCTION   False                 The Love Parade
...    ...                     ...     ...                             ...
1081  1940  OUTSTANDING PRODUCTION   False                      The Letter
1082  1940  OUTSTANDING PRODUCTION   False            The Long Voyage Home
1083  1940  OUTSTANDING PRODUCTION   False                        Our Town
1084  1940  OUTSTANDING PRODUCTION   False          The Philadelphia Story
1085  1940  OUTSTANDING PRODUCTION    True                         Rebecca

[102 rows x 4 columns]

In [19]:
df[df.category == 'OUTSTANDING MOTION PICTURE']

      year                    category  winner                     entity
1251  1941  OUTSTANDING MOTION PICTURE   False       Blossoms in the Dust
1252  1941  OUTSTANDING MOTION PICTURE   False               Citizen Kane
1253  1941  OUTSTANDING MOTION PICTURE   False      Here Comes Mr. Jordan
1254  1941  OUTSTANDING MOTION PICTURE   False         Hold Back the Dawn
1255  1941  OUTSTANDING MOTION PICTURE    True    How Green Was My Valley
1256  1941  OUTSTANDING MOTION PICTURE   False           The Little Foxes
1257  1941  OUTSTANDING MOTION PICTURE   False         The Maltese Falcon
1258  1941  OUTSTANDING MOTION PICTURE   False         One Foot in Heaven
1259  1941  OUTSTANDING MOTION PICTURE   False              Sergeant York
1260  1941  OUTSTANDING MOTION PICTURE   False                  Suspicion
1452  1942  OUTSTANDING MOTION PICTURE   False               The Invaders
1453  1942  OUTSTANDING MOTION PICTURE   False                  Kings Row
1454  1942  OUTSTANDING MOTION PICTURE   False  The Magnificent Ambersons
1455  1942  OUTSTANDING MOTION PICTURE    True               Mrs. Miniver
1456  1942  OUTSTANDING MOTION PICTURE   False             The Pied Piper
1457  1942  OUTSTANDING MOTION PICTURE   False   The Pride of the Yankees
1458  1942  OUTSTANDING MOTION PICTURE   False             Random Harvest
1459  1942  OUTSTANDING MOTION PICTURE   False       The Talk of the Town
1460  1942  OUTSTANDING MOTION PICTURE   False                Wake Island
1461  1942  OUTSTANDING MOTION PICTURE   False        Yankee Doodle Dandy
1642  1943  OUTSTANDING MOTION PICTURE    True                 Casablanca
1643  1943  OUTSTANDING MOTION PICTURE   False    For Whom the Bell Tolls
1644  1943  OUTSTANDING MOTION PICTURE   False            Heaven Can Wait
1645  1943  OUTSTANDING MOTION PICTURE   False           The Human Comedy
1646  1943  OUTSTANDING MOTION PICTURE   False          In Which We Serve
1647  1943  OUTSTANDING MOTION PICTURE   False               Madame Curie
1648  1943  OUTSTANDING MOTION PICTURE   False       The More the Merrier
1649  1943  OUTSTANDING MOTION PICTURE   False        The Ox-Bow Incident
1650  1943  OUTSTANDING MOTION PICTURE   False     The Song of Bernadette
1651  1943  OUTSTANDING MOTION PICTURE   False         Watch on the Rhine

In [20]:
df[df.category == 'BEST MOTION PICTURE']

      year             category  winner                 entity
1821  1944  BEST MOTION PICTURE   False       Double Indemnity
1822  1944  BEST MOTION PICTURE   False               Gaslight
1823  1944  BEST MOTION PICTURE    True           Going My Way
1824  1944  BEST MOTION PICTURE   False    Since You Went Away
1825  1944  BEST MOTION PICTURE   False                 Wilson
...    ...                  ...     ...                    ...
3980  1961  BEST MOTION PICTURE   False                  Fanny
3981  1961  BEST MOTION PICTURE   False   The Guns of Navarone
3982  1961  BEST MOTION PICTURE   False            The Hustler
3983  1961  BEST MOTION PICTURE   False  Judgment at Nuremberg
3984  1961  BEST MOTION PICTURE    True        West Side Story

[90 rows x 4 columns]

In [21]:
df[df.category == 'BEST PICTURE']

       year      category  winner                                     entity
4107   1962  BEST PICTURE    True                         Lawrence of Arabia
4108   1962  BEST PICTURE   False                            The Longest Day
4109   1962  BEST PICTURE   False           Meredith Willson's The Music Man
4110   1962  BEST PICTURE   False                       Mutiny on the Bounty
4111   1962  BEST PICTURE   False                      To Kill a Mockingbird
...     ...           ...     ...                                        ...
10997  2017  BEST PICTURE   False                                  Lady Bird
10998  2017  BEST PICTURE   False                             Phantom Thread
10999  2017  BEST PICTURE   False                                   The Post
11000  2017  BEST PICTURE    True                         The Shape of Water
11001  2017  BEST PICTURE   False  Three Billboards Outside Ebbing, Missouri

[316 rows x 4 columns]

In [22]:
# rename category strings needed
df.replace({'category': {'ACTOR': 'lead_actor', 'ACTOR IN A LEADING ROLE': 'lead_actor',
                         'ACTRESS': 'lead_actress', 'ACTRESS IN A SUPPORTING ROLE': 'lead_actress',
                         'ACTRESS IN A SUPPORTING ROLE': 'supporting_actress', 
                         'ACTOR IN A SUPPORTING ROLE': 'supporting_actor',
                         'OUTSTANDING PICTURE': 'best_picture','OUTSTANDING PRODUCTION': 'best_picture', 
                         'OUTSTANDING MOTION PICTURE': 'best_picture', 'BEST MOTION PICTURE': 'best_picture', 
                         'BEST PICTURE': 'bset_picture'}})

,year,category,winner,entity
0,1927,lead_actor,False,Richard Barthelmess
1,1927,lead_actor,True,Emil Jannings
2,1927,lead_actress,False,Louise Dresser
3,1927,lead_actress,True,Janet Gaynor
4,1927,lead_actress,False,Gloria Swanson
...,...,...,...,...
11053,2017,SCIENTIFIC AND TECHNICAL AWARD (Scientific and...,True,"To LEONARD CHAPMAN for the overall concept, de..."
11054,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To JASON SMITH and JEFF WHITE for the original...
11055,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,"To JOE MANCEWICZ, MATT DERKSEN and HANS RIJPKE..."
11056,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ALEX POWELL for his contribution to the des...
11057,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ROB JENSEN for the foundational design and ...

In [23]:
def normalize_oscars():
    df = pd.read_csv('data/academy_awards.csv')
    df = df.replace({'category': {'ACTOR': 'lead_actor', 'ACTOR IN A LEADING ROLE': 'lead_actor',
                         'ACTRESS': 'lead_actress', 'ACTRESS IN A SUPPORTING ROLE': 'lead_actress',
                         'ACTRESS IN A SUPPORTING ROLE': 'supporting_actress', 
                         'ACTOR IN A SUPPORTING ROLE': 'supporting_actor',
                         'OUTSTANDING PICTURE': 'best_picture','OUTSTANDING PRODUCTION': 'best_picture', 
                         'OUTSTANDING MOTION PICTURE': 'best_picture', 'BEST MOTION PICTURE': 'best_picture', 
                         'BEST PICTURE': 'bset_picture'}})
    df1 = df[df.category == 'best_picture']
    df2 = df[df.category == 'lead_actor']
    df3 = df[df.category == 'lead_actress']
    df4 = df[df.category == 'supporting_actor']
    df5 = df[df.category == 'supporting_actress']
    df = pd.concat([df1, df2, df3, df4, df5])
    
    newlist = [[2018, 'best_picture', True, 'The Shape of Water'],
               [2018, 'best_picture', False, 'Call Me By Your Name'],
               [2018, 'best_picture', False, 'Darkest Hour'],
               [2018, 'best_picture', False, 'Dunkirk'],
               [2018, 'best_picture', False, 'Get Out'],
               [2018, 'best_picture', False, 'Lady Bird'],
               [2018, 'best_picture', False, 'Phantom Thread'],
               [2018, 'best_picture', False, 'The Post'],
               [2018, 'best_picture', False, 'Three Billbaords Outside of Ebbing, Missouri'],
               [2018, 'lead_actor', True, 'Gary Oldman'], 
               [2018, 'lead_actor', False, 'Timothee Chalamet'],
               [2018, 'lead_actor', False, 'Daniel Day-Lewis'],
               [2018, 'lead_actor', False, 'Daniel Kaluuya'],
               [2018, 'lead_actor', False, 'Danzel Washington'],
               [2018, 'lead_actress', True, 'Frances McDormand'], 
               [2018, 'lead_actress', False, 'Sally Hawkins'],
               [2018, 'lead_actress', False, 'Margot Robbie'],
               [2018, 'lead_actress', False, 'Saoirse Ronan'],
               [2018, 'lead_actress', False, 'Meryl Streep'],
               [2018, 'supporting_actor', True, 'Gary Oldman'], 
               [2018, 'supporting_actor', False, 'Timothee Chalamet'],
               [2018, 'supporting_actor', False, 'Daniel Day-Lewis'],
               [2018, 'supporting_actor', False, 'Daniel Kaluuya'],
               [2018, 'supporting_actor', False, 'Danzel Washington'],
               [2018, 'supporting_actress', True, 'Frances McDormand'], 
               [2018, 'supporting_actress', False, 'Sally Hawkins'],
               [2018, 'supporting_actress', False, 'Margot Robbie'],
               [2018, 'supporting_actress', False, 'Saoirse Ronan'],
               [2018, 'supporting_actress', False, 'Meryl Streep'],
               [2019, 'best_picture', True, 'Green Book'],
               [2019, 'best_picture', False, 'Black Panther'],
               [2019, 'best_picture', False, 'Blackkklansman'],
               [2019, 'best_picture', False, 'Bohemian Rhaspody'],
               [2019, 'best_picture', False, 'The Favourite'],
               [2019, 'best_picture', False, 'Roma'],
               [2019, 'best_picture', False, 'A Star Is Born'],
               [2019, 'best_picture', False, 'Vice'],
               [2019, 'lead_actor', True, 'Rami Malek'], 
               [2019, 'lead_actor', False, 'Christian Bale'],
               [2019, 'lead_actor', False, 'Bradley Cooper'],
               [2019, 'lead_actor', False, 'Willem Dafoe'],
               [2019, 'lead_actor', False, 'Viggo Mortensen'],
               [2019, 'lead_actress', True, 'Olivia Coleman'], 
               [2019, 'lead_actress', False, 'Yalitza Aparicio'],
               [2019, 'lead_actress', False, 'Glenn Close'],
               [2019, 'lead_actress', False, 'Lady Gaga'],
               [2019, 'lead_actress', False, 'Melissa McCarthy'],
               [2019, 'supporting_actor', True, 'Mahershala Ali'], 
               [2019, 'supporting_actor', False, 'Adam Driver'],
               [2019, 'supporting_actor', False, 'Sam Elliott'],
               [2019, 'supporting_actor', False, 'Richard E. Grant'],
               [2019, 'supporting_actor', False, 'Sam Rockwell'],
               [2019, 'supporting_actress', True, 'Regina King'], 
               [2019, 'supporting_actress', False, 'Amy Adams'],
               [2019, 'supporting_actress', False, 'Marina De Tavira'],
               [2019, 'supporting_actress', False, 'Emma Stone'],
               [2019, 'supporting_actress', False, 'Rachel Weisz'],
               [2020, 'best_picture', False, 'Ford V Ferrari'],
               [2020, 'best_picture', False, 'The Irishman'],
               [2020, 'best_picture', False, 'Jojo Rabbit'],
               [2020, 'best_picture', False, 'Joker'],
               [2020, 'best_picture', False, 'Little Woman'],
               [2020, 'best_picture', False, 'Marriage Story'],
               [2020, 'best_picture', False, '1917'],
               [2020, 'best_picture', False, 'Once Upon A Time In Hollywood'],
               [2020, 'best_picture', False, 'Parasite'],
               [2020, 'lead_actor', False, 'Antonio Banderas'], 
               [2020, 'lead_actor', False, 'Leonardo Dicaprio'],
               [2020, 'lead_actor', False, 'Adam Driver'],
               [2020, 'lead_actor', False, 'Joaquin Phoenix'],
               [2020, 'lead_actor', False, 'Jonathan Pryce'],
               [2020, 'lead_actress', False, 'Cynthia Erivo'], 
               [2020, 'lead_actress', False, 'Scarlett Johansson'],
               [2020, 'lead_actress', False, 'Saoirse Ronan'],
               [2020, 'lead_actress', False, 'Charlize Theron'],
               [2020, 'lead_actress', False, 'Renee Zellweger'],
               [2020, 'supporting_actor', False, 'Tom Hanks'], 
               [2020, 'supporting_actor', False, 'Anthony Hopkins'],
               [2020, 'supporting_actor', False, 'Al Pacino'],
               [2020, 'supporting_actor', False, 'Joe Pesci'],
               [2020, 'supporting_actor', False, 'Brad Pitt'],
               [2020, 'supporting_actress', False, 'Kathy Bates'], 
               [2020, 'supporting_actress', False, 'Laura Dern'],
               [2020, 'supporting_actress', False, 'Scarlett Johansson'],
               [2020, 'supporting_actress', False, 'Florence Pugh'],
               [2020, 'supporting_actress', False, 'Margot Robbie']]
    addition = pd.DataFrame(newlist, columns = ['year', 'category', 'winner', 'entity'])
    df = df.append(addition)
    
    df.entity = df.entity.str.lower()
    df = df.reset_index().drop(columns='index')
    df = df.rename(columns = {'winner':'oscar_wins', 'entity': 'nominee'})
    df.year = df.year.astype(object)
    return df

In [24]:
test = normalize_oscars()

In [25]:
test

      year            category  oscar_wins                 nominee
0     1927        best_picture       False       the caddo company
1     1927        best_picture       False                     fox
2     1927        best_picture        True  paramount famous lasky
3     1928        best_picture       False     feature productions
4     1928        best_picture       False                     fox
...    ...                 ...         ...                     ...
1809  2020  supporting_actress       False             kathy bates
1810  2020  supporting_actress       False              laura dern
1811  2020  supporting_actress       False      scarlett johansson
1812  2020  supporting_actress       False           florence pugh
1813  2020  supporting_actress       False           margot robbie

[1814 rows x 4 columns]

In [26]:
test.shape

(1814, 4)

In [27]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1814 entries, 0 to 1813
Data columns (total 4 columns):
year          1814 non-null object
category      1814 non-null object
oscar_wins    1814 non-null bool
nominee       1814 non-null object
dtypes: bool(1), object(3)
memory usage: 44.4+ KB

In [28]:
test.category.unique()

array(['best_picture', 'lead_actor', 'lead_actress', 'supporting_actor',
       'supporting_actress'], dtype=object)

In [29]:
test.year.unique()

array([1927, 1928, 1929, 1930, 1931, 1932, 1934, 1935, 1936, 1937, 1938,
       1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949,
       1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020], dtype=object)

### The British Academy Film Awards

In [2]:
df = pd.read_csv('data/bafta_awards.csv')

In [3]:
df.head()

   year                     category               nominee workers  winner
0  1949  Film | British Film in 1949       The Fallen Idol     NaN    True
1  1949  Film | British Film in 1949                Hamlet     NaN   False
2  1949  Film | British Film in 1949          Oliver Twist     NaN   False
3  1949  Film | British Film in 1949  Once A Jolly Swagman     NaN   False
4  1949  Film | British Film in 1949         The Red Shoes     NaN   False

In [4]:
df.tail()

,year,category,nominee,workers,winner
4171,2020,Film | Supporting Actress in 2020,Marriage Story,Laura Dern,True
4172,2020,Film | Supporting Actress in 2020,Jojo Rabbit,Scarlett Johansson,False
4173,2020,Film | Supporting Actress in 2020,Little Women,Florence Pugh,False
4174,2020,Film | Supporting Actress in 2020,Bombshell,Margot Robbie,False
4175,2020,Film | Supporting Actress in 2020,Once Upon a Time.. in Hollywood,Margot Robbie,False

In [5]:
df.shape

(4176, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 5 columns):
year        4176 non-null int64
category    4176 non-null object
nominee     4176 non-null object
workers     3402 non-null object
winner      4176 non-null bool
dtypes: bool(1), int64(1), object(3)
memory usage: 134.7+ KB

In [7]:
df.year.unique()

array([1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 2001, 2016, 2017, 2018, 2019, 2020])

In [8]:
df.category.unique()

array(['Film | British Film in 1949', 'Film | Documentary in 1949',
       'Film | Film From Any Source in 1949',
       'Film | Special Award in 1949',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1949',
       'Film | British Film in 1950', 'Film | Documentary in 1950',
       'Film | Film From Any Source in 1950',
       'Film | Special Award in 1950',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1950',
       'Film | British Film in 1951', 'Film | Documentary in 1951',
       'Film | Film From Any Source in 1951',
       'Film | Special Award in 1951',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1951',
       'Film | British Film in 1952', 'Film | Documentary in 1952',
       'Film | Film From Any Source in 1952',
       'Film | Special Award in 1952',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1952',
       'Film | British Actor in 1953', 'Film | British Actress in 1953',
       'Film | British Film in 1953', 'Film | Documentary in 1953',
       'Film | Film From Any Source in 1953',
       'Film | Foreign Actor in 1953', 'Film | Foreign Actress in 1953',
       'Film | Most Promising Newcomer To Film in 1953',
       'Film | Special Award in 1953',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1953',
       'Film | British Actor in 1954', 'Film | British Actress in 1954',
       'Film | British Film in 1954',
       'Film | Certificate Of Merit in 1954',
       'Film | Documentary in 1954',
       'Film | Film From Any Source in 1954',
       'Film | Foreign Actor in 1954', 'Film | Foreign Actress in 1954',
       'Film | Most Promising Newcomer To Film in 1954',
       'Film | Special Award in 1954',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1954',
       'Film | Animated Film in 1955', 'Film | British Actor in 1955',
       'Film | British Actress in 1955', 'Film | British Film in 1955',
       'Film | British Screenplay in 1955', 'Film | Documentary in 1955',
       'Film | Film From Any Source in 1955',
       'Film | Foreign Actor in 1955', 'Film | Foreign Actress in 1955',
       'Film | Most Promising Newcomer To Film in 1955',
       'Film | Special Award in 1955',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1955',
       'Film | Animated Film in 1956', 'Film | British Actor in 1956',
       'Film | British Actress in 1956', 'Film | British Film in 1956',
       'Film | British Screenplay in 1956', 'Film | Documentary in 1956',
       'Film | Film From Any Source in 1956',
       'Film | Foreign Actor in 1956', 'Film | Foreign Actress in 1956',
       'Film | Most Promising Newcomer To Film in 1956',
       'Film | Special Award in 1956',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1956',
       'Film | Animated Film in 1957', 'Film | British Actor in 1957',
       'Film | British Actress in 1957', 'Film | British Film in 1957',
       'Film | British Screenplay in 1957', 'Film | Documentary in 1957',
       'Film | Film From Any Source in 1957',
       'Film | Foreign Actor in 1957', 'Film | Foreign Actress in 1957',
       'Film | Most Promising Newcomer To Film in 1957',
       'Film | Special Award in 1957',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1957',
       'Film | Animated Film in 1958', 'Film | British Actor in 1958',
       'Film | British Actress in 1958', 'Film | British Film in 1958',
       'Film | British Screenplay in 1958', 'Film | Documentary in 1958',
       'Film | Film From Any Source in 1958',
       'Film | Foreign Actor in 1958', 'Film | Foreign Actress in 1958',
       'Film | Most Promising Newcomer To Film in 1958',
       'Film | Special Award in 1958',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1958',
       'Film | Animated Film in 1959', 'Film | British Actor in 1959',
       'Film | British Actress in 1959', 'Film | British Film in 1959',
       'Film | British Screenplay in 1959', 'Film | Documentary in 1959',
       'Film | Film From Any Source in 1959',
       'Film | Foreign Actor in 1959', 'Film | Foreign Actress in 1959',
       'Film | Most Promising Newcomer To Film in 1959',
       'Film | Special Award in 1959',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1959',
       'Film | Animated Film in 1960', 'Film | British Actor in 1960',
       'Film | British Actress in 1960', 'Film | British Film in 1960',
       'Film | British Screenplay in 1960',
       'Film | Film From Any Source in 1960',
       'Film | Foreign Actor in 1960', 'Film | Foreign Actress in 1960',
       'Film | Most Promising Newcomer To Film in 1960',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1960',
       'Film | Short Film in 1960', 'Film | Specialised Film in 1960',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1960',
       'Film | Animated Film in 1961', 'Film | British Actor in 1961',
       'Film | British Actress in 1961', 'Film | British Film in 1961',
       'Film | British Screenplay in 1961',
       'Film | Film From Any Source in 1961',
       'Film | Foreign Actor in 1961', 'Film | Foreign Actress in 1961',
       'Film | Most Promising Newcomer To Leading Film Roles in 1961',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1961',
       'Film | Short Film in 1961', 'Film | Specialised Film in 1961',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1961',
       'Film | Animated Film in 1962', 'Film | British Actor in 1962',
       'Film | British Actress in 1962', 'Film | British Film in 1962',
       'Film | British Screenplay in 1962',
       'Film | Film From Any Source in 1962',
       'Film | Foreign Actor in 1962', 'Film | Foreign Actress in 1962',
       'Film | Most Promising Newcomer To Leading Film Roles in 1962',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1962',
       'Film | Short Film in 1962', 'Film | Specialised Film in 1962',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1962',
       'Film | Animated Film in 1963', 'Film | British Actor in 1963',
       'Film | British Actress in 1963', 'Film | British Film in 1963',
       'Film | British Screenplay in 1963',
       'Film | Film From Any Source in 1963',
       'Film | Foreign Actor in 1963', 'Film | Foreign Actress in 1963',
       'Film | Most Promising Newcomer To Leading Film Roles in 1963',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1963',
       'Film | Short Film in 1963', 'Film | Specialised Film in 1963',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1963',
       'Film | Animated Film in 1964', 'Film | British Actor in 1964',
       'Film | British Actress in 1964',
       'Film | British Cinematography - Black and White in 1964',
       'Film | British Cinematography - Colour in 1964',
       'Film | British Film in 1964', 'Film | British Screenplay in 1964',
       'Film | Film From Any Source in 1964',
       'Film | Foreign Actor in 1964', 'Film | Foreign Actress in 1964',
       'Film | Most Promising Newcomer To Leading Film Roles in 1964',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1964',
       'Film | Short Film in 1964', 'Film | Specialised Film in 1964',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1964',
       'Film | Animated Film in 1965', 'Film | British Actor in 1965',
       'Film | British Actress in 1965',
       'Film | British Art Direction - Black and White in 1965',
       'Film | British Art Direction - Colour in 1965',
       'Film | British Cinematography - Black and White in 1965',
       'Film | British Cinematography - Colour in 1965',
       'Film | British Costume Design - Black and White in 1965',
       'Film | British Costume Design - Colour in 1965',
       'Film | British Film in 1965', 'Film | British Screenplay in 1965',
       'Film | Film in 1965', 'Film | Foreign Actor in 1965',
       'Film | Foreign Actress in 1965',
       'Film | Most Promising Newcomer To Leading Film Roles in 1965',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1965',
       'Film | Short Film in 1965', 'Film | Specialised Film in 1965',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1965',
       'Film | Animated Film in 1966', 'Film | British Actor in 1966',
       'Film | British Actress in 1966',
       'Film | British Art Direction - Black and White in 1966',
       'Film | British Art Direction - Colour in 1966',
       'Film | British Cinematography - Black and White in 1966',
       'Film | British Cinematography - Colour in 1966',
       'Film | British Costume Design - Black and White in 1966',
       'Film | British Costume Design - Colour in 1966',
       'Film | British Film in 1966', 'Film | British Screenplay in 1966',
       'Film | Film in 1966', 'Film | Foreign Actor in 1966',
       'Film | Foreign Actress in 1966',
       'Film | Most Promising Newcomer To Leading Film Roles in 1966',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1966',
       'Film | Short Film in 1966', 'Film | Specialised Film in 1966',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1966',
       'Film | Animated Film in 1967',
       'Film | Best Cinematography - Black and White in 1967',
       'Film | British Actor in 1967', 'Film | British Actress in 1967',
       'Film | British Art Direction - Black and White in 1967',
       'Film | British Art Direction - Colour in 1967',
       'Film | British Cinematography - Colour in 1967',
       'Film | British Costume Design - Black and White in 1967',
       'Film | British Costume Design - Colour in 1967',
       'Film | British Film in 1967', 'Film | British Screenplay in 1967',
       'Film | Editing - for best film editing of a British Film in 1967',
       'Film | Film in 1967', 'Film | Foreign Actor in 1967',
       'Film | Foreign Actress in 1967',
       'Film | Most Promising Newcomer To Leading Film Roles in 1967',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1967',
       'Film | Short Film in 1967', 'Film | Specialised Film in 1967',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1967',
       'Film | Animated Film in 1968', 'Film | British Actor in 1968',
       'Film | British Actress in 1968',
       'Film | British Art Direction - Black and White in 1968',
       'Film | British Art Direction - Colour in 1968',
       'Film | British Cinematography - Black and White in 1968',
       'Film | British Cinematography - Colour in 1968',
       'Film | British Costume Design - Black and White in 1968',
       'Film | British Costume Design - Colour in 1968',
       'Film | British Film in 1968', 'Film | British Screenplay in 1968',
       'Film | Editing in 1968', 'Film | Film in 1968',
       'Film | Foreign Actor in 1968', 'Film | Foreign Actress in 1968',
       'Film | Most Promising Newcomer To Leading Film Roles in 1968',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1968',
       'Film | Short Film in 1968', 'Film | Specialised Film in 1968',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1968',
       'Film | Actor in 1969', 'Film | Actress in 1969',
       'Film | Animated Film in 1969',
       'Film | Anthony Asquith Award for Original Film Music in 1969',
       'Film | Art Direction in 1969',
       'Film | British Cinematography in 1969',
       'Film | Costume Design in 1969', 'Film | Direction in 1969',
       'Film | Editing in 1969', 'Film | Film in 1969',
       'Film | Most Promising Newcomer To Leading Film Roles in 1969',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1969',
       'Film | Screenplay in 1969', 'Film | Short Film in 1969',
       'Film | Soundtrack in 1969', 'Film | Specialised Film in 1969',
       'Film | Supporting Actor in 1969',
       'Film | Supporting Actress in 1969',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1969',
       'Film | Actor in 1970', 'Film | Actress in 1970',
       'Film | Animated Film in 1970',
       'Film | Anthony Asquith Award for Original Film Music in 1970',
       'Film | Art Direction in 1970', 'Film | Cinematography in 1970',
       'Film | Costume Design in 1970', 'Film | Direction in 1970',
       'Film | Editing in 1970', 'Film | Film in 1970',
       'Film | Most Promising Newcomer To Leading Film Roles in 1970',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1970',
       'Film | Screenplay in 1970', 'Film | Short Film in 1970',
       'Film | Soundtrack in 1970', 'Film | Specialised Film in 1970',
       'Film | Supporting Actor in 1970',
       'Film | Supporting Actress in 1970',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1970',
       'Film | Actor in 1971', 'Film | Actress in 1971',
       'Film | Animated Film in 1971',
       'Film | Anthony Asquith Memorial Award in 1971',
       'Film | Art Direction in 1971', 'Film | Cinematography in 1971',
       'Film | Costume Design in 1971', 'Film | Direction in 1971',
       'Film | Fellowship in 1971', 'Film | Film in 1971',
       'Film | Film Editing in 1971',
       'Film | Most Promising Newcomer To Leading Film Roles in 1971',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1971',
       'Film | Screenplay in 1971', 'Film | Short Film in 1971',
       'Film | Soundtrack in 1971', 'Film | Specialised Film in 1971',
       'Film | Supporting Actor in 1971',
       'Film | Supporting Actress in 1971',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1971',
       'Film | Actor in 1972', 'Film | Actress in 1972',
       'Film | Animated Film in 1972',
       'Film | Anthony Asquith Memorial Award in 1972',
       'Film | Art Direction in 1972', 'Film | Cinematography in 1972',
       'Film | Costume Design in 1972', 'Film | Direction in 1972',
       'Film | Fellowship in 1972', 'Film | Film in 1972',
       'Film | Film Editing in 1972',
       'Film | Most Promising Newcomer To Leading Film Roles in 1972',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1972',
       'Film | Screenplay in 1972', 'Film | Short Film in 1972',
       'Film | Soundtrack in 1972', 'Film | Specialised Film in 1972',
       'Film | Supporting Actor in 1972',
       'Film | Supporting Actress in 1972',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1972',
       'Film | Actor in 1973', 'Film | Actress in 1973',
       'Film | Animated Film in 1973',
       'Film | Anthony Asquith Memorial Award in 1973',
       'Film | Art Direction in 1973', 'Film | Cinematography in 1973',
       'Film | Costume Design in 1973', 'Film | Direction in 1973',
       'Film | Film in 1973', 'Film | Film Editing in 1973',
       'Film | John Grierson Award (Short Film) in 1973',
       'Film | Most Promising Newcomer To Leading Film Roles in 1973',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1973',
       'Film | Screenplay in 1973', 'Film | Soundtrack in 1973',
       'Film | Specialised Film in 1973',
       'Film | Supporting Actor in 1973',
       'Film | Supporting Actress in 1973',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1973',
       'Film | Actor in 1974', 'Film | Actress in 1974',
       'Film | Animated Film in 1974',
       'Film | Anthony Asquith Memorial Award in 1974',
       'Film | Art Direction in 1974', 'Film | Cinematography in 1974',
       'Film | Costume Design in 1974', 'Film | Direction in 1974',
       'Film | Fellowship in 1974', 'Film | Film in 1974',
       'Film | Film Editing in 1974',
       'Film | John Grierson Award (Short Film) in 1974',
       'Film | Most Promising Newcomer To Leading Film Roles in 1974',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1974',
       'Film | Screenplay in 1974', 'Film | Soundtrack in 1974',
       'Film | Specialised Film in 1974',
       'Film | Supporting Actor in 1974',
       'Film | Supporting Actress in 1974',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1974',
       'Film | Actor in 1975', 'Film | Actress in 1975',
       'Film | Animated Film in 1975',
       'Film | Anthony Asquith Memorial Award in 1975',
       'Film | Art Direction in 1975', 'Film | Cinematography in 1975',
       'Film | Costume Design in 1975', 'Film | Direction in 1975',
       'Film | Fellowship in 1975', 'Film | Film in 1975',
       'Film | Film Editing in 1975',
       'Film | John Grierson Award (Short Film) in 1975',
       'Film | Most Promising Newcomer To Leading Film Roles in 1975',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1975',
       'Film | Screenplay in 1975', 'Film | Soundtrack in 1975',
       'Film | Specialised Film in 1975',
       'Film | Supporting Actor in 1975',
       'Film | Supporting Actress in 1975',
       'Film | United Nations Award - for the best Film embodying one or more of the principles of the United Nations Charter in 1975',
       'Film | Actor in 1976', 'Film | Actress in 1976',
       'Film | Animated Film in 1976',
       'Film | Anthony Asquith Award for Original Film Music in 1976',
       'Film | Art Direction in 1976', 'Film | Cinematography in 1976',
       'Film | Costume Design in 1976', 'Film | Direction in 1976',
       'Film | Fellowship in 1976', 'Film | Film in 1976',
       'Film | Film Editing in 1976',
       'Film | John Grierson Award (Short Film) in 1976',
       'Film | Most Promising Newcomer To Leading Film Roles in 1976',
       'Film | Robert Flaherty Award (Feature Length Film, Documentary In Content) in 1976',
       'Film | Screenplay in 1976', 'Film | Soundtrack in 1976',
       'Film | Specialised Film in 1976',
       'Film | Supporting Actor in 1976',
       'Film | Supporting Actress in 1976',

### To Do:
- **Pull out unique categories wanted**
    - Best Film
    - Best Actor/Actress
    - Supporting Actor/Actress
- **Normalize text**
- **Drop 'workers' column**
- **Change 'winner' column to reflect award**
- **Clean you category names**

In [9]:
df.year = df.year.astype(object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 5 columns):
year        4176 non-null object
category    4176 non-null object
nominee     4176 non-null object
workers     3402 non-null object
winner      4176 non-null bool
dtypes: bool(1), object(4)
memory usage: 134.7+ KB

In [11]:
df.nominee.str.lower()

0                       the fallen idol
1                                hamlet
2                          oliver twist
3                  once a jolly swagman
4                         the red shoes
                     ...
4171                     marriage story
4172                        jojo rabbit
4173                       little women
4174                          bombshell
4175    once upon a time.. in hollywood
Name: nominee, Length: 4176, dtype: object

In [12]:
df.drop(columns=('workers'))

,year,category,nominee,winner
0,1949,Film | British Film in 1949,The Fallen Idol,True
1,1949,Film | British Film in 1949,Hamlet,False
2,1949,Film | British Film in 1949,Oliver Twist,False
3,1949,Film | British Film in 1949,Once A Jolly Swagman,False
4,1949,Film | British Film in 1949,The Red Shoes,False
...,...,...,...,...
4171,2020,Film | Supporting Actress in 2020,Marriage Story,True
4172,2020,Film | Supporting Actress in 2020,Jojo Rabbit,False
4173,2020,Film | Supporting Actress in 2020,Little Women,False
4174,2020,Film | Supporting Actress in 2020,Bombshell,False
4175,2020,Film | Supporting Actress in 2020,Once Upon a Time.. in Hollywood,False

In [41]:
# take out 'Film |' in category column

In [13]:
### find which categories to use
# supporting actress
# supporting actor
# leading actress
# leading actor
# best film
# actor
# actress
# film
df.category[df.category.str.contains("Supporting Actor")].count()

85

In [14]:
df.category[df.category.str.contains("Supporting Actress")].count()

85

In [15]:
df.category[df.category.str.contains("Leading Actor")].count()

25

In [16]:
df.category[df.category.str.contains("Leading Actress")].count()

25

In [17]:
df.category[df.category.str.contains("Best Film")]

3822    Film | Best Film in 2018
3823    Film | Best Film in 2018
3824    Film | Best Film in 2018
3825    Film | Best Film in 2018
3826    Film | Best Film in 2018
3941    Film | Best Film in 2019
3942    Film | Best Film in 2019
3943    Film | Best Film in 2019
3944    Film | Best Film in 2019
3945    Film | Best Film in 2019
4061    Film | Best Film in 2020
4062    Film | Best Film in 2020
4063    Film | Best Film in 2020
4064    Film | Best Film in 2020
4065    Film | Best Film in 2020
Name: category, dtype: object

In [93]:
# regex and normalize category column for function

In [43]:
# create a function that normalizes the data as it is pulled into a df to be prepped
def normalize_baftas():
    df.year = df.year.astype(object)
    df = df.nominee.str.lower()
    df = df.drop(columns=('workers'))

### Screen Actors Guild Awards

In [44]:
df = pd.read_csv('data/sag_awards.csv')

In [45]:
df.head()

,Unnamed: 0,index,category,year,win,entity
0,0,0,best_picture_cast,2020,True,['Bombshell']
1,1,1,best_picture_cast,2020,False,['The Irishman']
2,2,2,best_picture_cast,2020,False,['Jojo Rabbit']
3,3,3,best_picture_cast,2020,False,['Once Upon a Time...in Hollywood']
4,4,4,best_picture_cast,2020,False,['Parasite']

In [46]:
df.tail()

     Unnamed: 0  index       category  year    win                 entity
655          20      0  support_actor  1995   True      ['Martin Landau']
656          21      1  support_actor  1995  False  ['Samuel L. Jackson']
657          22      2  support_actor  1995  False   ['Chazz Palminteri']
658          23      3  support_actor  1995  False        ['Gary Sinise']
659          24      4  support_actor  1995  False      ['JOHN TURTURRO']

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 6 columns):
Unnamed: 0    660 non-null int64
index         660 non-null int64
category      660 non-null object
year          660 non-null int64
win           660 non-null bool
entity        650 non-null object
dtypes: bool(1), int64(3), object(2)
memory usage: 26.6+ KB

In [48]:
df.year.unique()

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995])

In [49]:
df.category.unique()

array(['best_picture_cast', 'best_actress', 'best_actor',
       'support_actress', 'support_actor'], dtype=object)

#### To Do:
- **Drop index column, unnamed column**
- **Normalize text in entity column**
- **Rename 'win' column**

In [50]:
df.rename(columns = {'entity':'nominee'})

,Unnamed: 0,index,category,year,win,nominee
0,0,0,best_picture_cast,2020,True,['Bombshell']
1,1,1,best_picture_cast,2020,False,['The Irishman']
2,2,2,best_picture_cast,2020,False,['Jojo Rabbit']
3,3,3,best_picture_cast,2020,False,['Once Upon a Time...in Hollywood']
4,4,4,best_picture_cast,2020,False,['Parasite']
...,...,...,...,...,...,...
655,20,0,support_actor,1995,True,['Martin Landau']
656,21,1,support_actor,1995,False,['Samuel L. Jackson']
657,22,2,support_actor,1995,False,['Chazz Palminteri']
658,23,3,support_actor,1995,False,['Gary Sinise']
659,24,4,support_actor,1995,False,['JOHN TURTURRO']

In [51]:
df.drop(columns = (['Unnamed: 0', 'index']))

              category  year    win                               entity
0    best_picture_cast  2020   True                        ['Bombshell']
1    best_picture_cast  2020  False                     ['The Irishman']
2    best_picture_cast  2020  False                      ['Jojo Rabbit']
3    best_picture_cast  2020  False  ['Once Upon a Time...in Hollywood']
4    best_picture_cast  2020  False                         ['Parasite']
..                 ...   ...    ...                                  ...
655      support_actor  1995   True                    ['Martin Landau']
656      support_actor  1995  False                ['Samuel L. Jackson']
657      support_actor  1995  False                 ['Chazz Palminteri']
658      support_actor  1995  False                      ['Gary Sinise']
659      support_actor  1995  False                    ['JOHN TURTURRO']

[660 rows x 4 columns]

In [52]:
df.category.unique()

array(['best_picture_cast', 'best_actress', 'best_actor',
       'support_actress', 'support_actor'], dtype=object)

In [53]:
df.replace({'category': {'best_picture_cast':'best_picture', 'best_actress':'lead_actress', 
                         'best_actor': 'lead_actor', 'support_actress': 'supporting_actress',
                         'support_actor': 'supporting_actor'}})

,Unnamed: 0,index,category,year,win,entity
0,0,0,best_picture,2020,True,['Bombshell']
1,1,1,best_picture,2020,False,['The Irishman']
2,2,2,best_picture,2020,False,['Jojo Rabbit']
3,3,3,best_picture,2020,False,['Once Upon a Time...in Hollywood']
4,4,4,best_picture,2020,False,['Parasite']
...,...,...,...,...,...,...
655,20,0,supporting_actor,1995,True,['Martin Landau']
656,21,1,supporting_actor,1995,False,['Samuel L. Jackson']
657,22,2,supporting_actor,1995,False,['Chazz Palminteri']
658,23,3,supporting_actor,1995,False,['Gary Sinise']
659,24,4,supporting_actor,1995,False,['JOHN TURTURRO']

In [54]:
df.iloc[::-1].reset_index()

,level_0,Unnamed: 0,index,category,year,win,entity
0,659,24,4,support_actor,1995,False,['JOHN TURTURRO']
1,658,23,3,support_actor,1995,False,['Gary Sinise']
2,657,22,2,support_actor,1995,False,['Chazz Palminteri']
3,656,21,1,support_actor,1995,False,['Samuel L. Jackson']
4,655,20,0,support_actor,1995,True,['Martin Landau']
...,...,...,...,...,...,...,...
655,4,4,4,best_picture_cast,2020,False,['Parasite']
656,3,3,3,best_picture_cast,2020,False,['Once Upon a Time...in Hollywood']
657,2,2,2,best_picture_cast,2020,False,['Jojo Rabbit']
658,1,1,1,best_picture_cast,2020,False,['The Irishman']
659,0,0,0,best_picture_cast,2020,True,['Bombshell']

In [55]:
df.entity.str[1]

0      '
1      '
2      '
3      '
4      '
      ..
655    '
656    '
657    '
658    '
659    '
Name: entity, Length: 660, dtype: object

In [56]:
def normalize_sags():
    df = df.rename(columns = {'entity':'nominee'})
    df = df.drop(columns = (['Unnamed: 0', 'index']))
    df = df.replace({'category': {'best_picture_cast':'best_picture', 'best_actress':'lead_actress', 
                         'best_actor': 'lead_actor', 'support_actress': 'supporting_actress',
                         'support_actor': 'supporting_actor'}})

### Golden Globes

In [2]:
df = pd.read_csv('data/golden_globe_awards.csv')

In [3]:
df.head()

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [4]:
df.tail()

,year_film,year_award,ceremony,category,nominee,film,win
7986,2019,2020,77,Best Performance by an Actor in a Supporting R...,Kieran Culkin,Succession,False
7987,2019,2020,77,Best Performance by an Actor in a Supporting R...,Andrew Scott,Fleabag,False
7988,2019,2020,77,Best Performance by an Actor in a Supporting R...,Henry Winkler,Barry,False
7989,2019,2020,77,Cecil B. deMille Award,Tom Hanks,NaN,False
7990,2019,2020,77,Carol Burnett Award,Ellen DeGeneres,NaN,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 7 columns):
year_film     7991 non-null int64
year_award    7991 non-null int64
ceremony      7991 non-null int64
category      7991 non-null object
nominee       7991 non-null object
film          6191 non-null object
win           7991 non-null bool
dtypes: bool(1), int64(3), object(3)
memory usage: 382.5+ KB

In [6]:
df.year_award.unique()

array([1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954,
       1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965,
       1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [7]:
df.category.unique()

array(['Best Performance by an Actress in a Supporting Role in any Motion Picture',
       'Best Performance by an Actor in a Supporting Role in any Motion Picture',
       'Best Director - Motion Picture', 'Picture',
       'Actress In A Leading Role', 'Actor In A Leading Role',
       'Promoting International Understanding',
       'Special Achievement Award', 'Best Screenplay - Motion Picture',
       'Best Original Score - Motion Picture',
       'New Star Of The Year - Actress', 'New Star Of The Year - Actor',
       'Juvenile Performance', 'Cinematography',
       'Foreign Film - English Language',
       'Best Motion Picture - Foreign Language',
       'Outstanding Use Of Color',
       'Best Performance by an Actress in a Motion Picture - Drama',
       'Best Performance by an Actor in a Motion Picture - Drama',
       'Best Performance by an Actor in a Motion Picture - Musical or Comedy',
       'New Star Of The Year',
       'Actress In A Leading Role - Musical Or Comedy',
       'Henrietta Award (World Film Favorites)', 'Cinematography - Color',
       'Cinematography - Black And White', 'Best Motion Picture - Drama',
       'Best Motion Picture - Musical or Comedy',
       'Henrietta Award (World Film Favorite)', 'Cecil B. deMille Award',
       'Documentary', 'Television Achievement',
       'Hollywood Citizenship Award',
       'New Foreign Star Of The Year - Actress',
       'New Foreign Star Of The Year - Actor',
       'Foreign Film - Foreign Language', 'Picture - Musical',
       'Picture - Comedy', 'Samuel Goldwyn International Award',
       'Famous Silent Filmstars', 'Best Original Song - Motion Picture',
       'Television Series', 'Actor In A Television Series',
       'Actress In A Television Series', 'Best Television Series - Drama',
       'Television Program', 'Television Producer/Director',
       'Television Series - Comedy', 'International News Coverage',
       'Television Series - Variety',
       'Best Television Series - Musical or Comedy',
       'Actor In A Television Series - Musical Or Comedy',
       'Actor In A Television Series - Drama',
       'Actress In A Television Series - Drama',
       'Actress In A Television Series - Musical Or Comedy',
       'Best Performance by an Actress In A Television Series - Drama',
       'Best Performance by an Actor In A Television Series - Drama',
       'Best Performance by an Actress in a Television Series - Musical or Comedy',
       'Best Performance by an Actor in a Television Series - Musical or Comedy',
       'Actor In A Supporting Role - Television Series',
       'Actress In A Supporting Role - Television Series',
       'Television Movie',
       'Actress In A Supporting Role - Series Or Television Movie',
       'Actress In A Leading Role - Drama Series Or Television Movie',
       'Actor In A Leading Role - Drama Series Or Television Movie',
       'Actor In A Leading Role - Musical Or Comedy Series Or Television Movie',
       'Actor In A Supporting Role - Series Or Television Movie',
       'Actress In A Leading Role - Musical Or Comedy Series Or Television Movie',
       'Best Performance by an Actress in a Motion Picture - Musical or Comedy',
       'Best Performance by an Actress in a Supporting Role in a Series, Limited Series or Motion Picture Made for Television',
       'Best Performance by an Actor in a Supporting Role in a Series, Limited Series or Motion Picture Made for Television',
       'Television Special - Variety Or Musical',
       'Best Television Limited Series or Motion Picture Made for Television',
       'Best Performance by an Actress in a Limited Series or a Motion Picture Made for Television',
       'Best Performance by an Actor in a Limited Series or a Motion Picture Made for Television',
       'Best Motion Picture - Animated', 'Carol Burnett Award'],
      dtype=object)

### To Do:
- **Use only categories needed**
    - Best Film Comedy/Drama
    - Best Actor/Actress Comedy/Drama
    - Supporting Actor/Actress
 
- **Drop unwanted columns**
    - year_film
    - ceremony
    - film
- **Normalize text**
- **Change column titles**

In [11]:
# picture
df[df.category == 'Picture']

,year_film,year_award,ceremony,category,nominee,film,win
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
9,1944,1945,2,Picture,Going My Way,NaN,True
16,1945,1946,3,Picture,The Lost Weekend,NaN,True
24,1946,1947,4,Picture,The Best Years Of Our Lives,NaN,True
35,1947,1948,5,Picture,Gentleman's Agreement,NaN,True
46,1948,1949,6,Picture,Johnny Belinda,NaN,True
47,1948,1949,6,Picture,The Treasure of the Sierra Madre,NaN,True
73,1949,1950,7,Picture,All The King's Men,NaN,True
74,1949,1950,7,Picture,Come To The Stable,NaN,False
112,1950,1951,8,Picture,Sunset Boulevard,NaN,True
113,1950,1951,8,Picture,Born Yesterday,NaN,False
114,1950,1951,8,Picture,Cyrano de Bergerac (1950),NaN,False

In [12]:
df[df.category == 'Picture - Musical']

,year_film,year_award,ceremony,category,nominee,film,win
490,1958,1959,16,Picture - Musical,Gigi,NaN,True
491,1958,1959,16,Picture - Musical,Damn Yankees,NaN,False
492,1958,1959,16,Picture - Musical,Tom Thumb,NaN,False
573,1959,1960,17,Picture - Musical,Porgy and Bess,NaN,True
574,1959,1960,17,Picture - Musical,"Five Pennies, The",NaN,False
575,1959,1960,17,Picture - Musical,Li'l Abner,NaN,False
576,1959,1960,17,Picture - Musical,"Private's Affair, A",NaN,False
577,1959,1960,17,Picture - Musical,Say One For Me,NaN,False
658,1960,1961,18,Picture - Musical,Song Without End,NaN,True
659,1960,1961,18,Picture - Musical,Bells Are Ringing,NaN,False
660,1960,1961,18,Picture - Musical,Walter Lang,Can-Can,False
661,1960,1961,18,Picture - Musical,Jerry Wald,Let's Make Love,False
662,1960,1961,18,Picture - Musical,George Sidney,Pepe,False
746,1961,1962,19,Picture - Musical,West Side Story,NaN,True
747,1961,1962,19,Picture - Musical,Flower Drum Song,NaN,False
861,1962,1963,20,Picture - Musical,Meredith Willson's The Music Man,NaN,True
862,1962,1963,20,Picture - Musical,Billy Rose's Jumbo,NaN,False
863,1962,1963,20,Picture - Musical,The Wonderful World Of The Brothers Grimm,NaN,False

In [13]:
df[df.category == 'Picture - Comedy']

,year_film,year_award,ceremony,category,nominee,film,win
498,1958,1959,16,Picture - Comedy,Auntie Mame,NaN,True
499,1958,1959,16,Picture - Comedy,The Perfect Furlough,NaN,False
500,1958,1959,16,Picture - Comedy,"Bell, Book and Candle",NaN,False
501,1958,1959,16,Picture - Comedy,Indiscreet,NaN,False
502,1958,1959,16,Picture - Comedy,Me and the Colonel,NaN,False
583,1959,1960,17,Picture - Comedy,Some Like It Hot,NaN,True
584,1959,1960,17,Picture - Comedy,But Not For Me,NaN,False
585,1959,1960,17,Picture - Comedy,Operation Petticoat,NaN,False
586,1959,1960,17,Picture - Comedy,Pillow Talk,NaN,False
587,1959,1960,17,Picture - Comedy,Who Was That Lady?,NaN,False
665,1960,1961,18,Picture - Comedy,"Apartment, The",NaN,True
666,1960,1961,18,Picture - Comedy,Our Man in Havana,NaN,False
667,1960,1961,18,Picture - Comedy,"Facts of Life, The",NaN,False
668,1960,1961,18,Picture - Comedy,"Grass is Greener, The",NaN,False
669,1960,1961,18,Picture - Comedy,It Started in Naples,NaN,False
751,1961,1962,19,Picture - Comedy,A Majority Of One,NaN,True
752,1961,1962,19,Picture - Comedy,Breakfast at Tiffany's,NaN,False
753,1961,1962,19,Picture - Comedy,"One, Two, Three",NaN,False
754,1961,1962,19,Picture - Comedy,Pocketful of Miracles,NaN,False
867,1962,1963,20,Picture - Comedy,That Touch of Mink,NaN,True
868,1962,1963,20,Picture - Comedy,The Best Of Enemies,NaN,False
869,1962,1963,20,Picture - Comedy,Boys' Night Out,NaN,False
870,1962,1963,20,Picture - Comedy,If a Man Answers,NaN,False
871,1962,1963,20,Picture - Comedy,Period of Adjustment,NaN,False

In [14]:
df[df.category == 'Best Motion Picture - Musical or Comedy']

,year_film,year_award,ceremony,category,nominee,film,win
131,1951,1952,9,Best Motion Picture - Musical or Comedy,An American In Paris,NaN,True
168,1952,1953,10,Best Motion Picture - Musical or Comedy,With a Song in My Heart,NaN,True
169,1952,1953,10,Best Motion Picture - Musical or Comedy,Hans Christian Andersen,NaN,False
170,1952,1953,10,Best Motion Picture - Musical or Comedy,I'll See You in My Dreams,NaN,False
171,1952,1953,10,Best Motion Picture - Musical or Comedy,Singin' in the Rain,NaN,False
...,...,...,...,...,...,...,...
7869,2019,2020,77,Best Motion Picture - Musical or Comedy,Once Upon a Time...in Hollywood,NaN,True
7870,2019,2020,77,Best Motion Picture - Musical or Comedy,Dolemite Is My Name,NaN,False
7871,2019,2020,77,Best Motion Picture - Musical or Comedy,Jojo Rabbit,NaN,False
7872,2019,2020,77,Best Motion Picture - Musical or Comedy,Knives Out,NaN,False
7873,2019,2020,77,Best Motion Picture - Musical or Comedy,Rocketman,NaN,False

In [15]:
df[df.category == 'Best Motion Picture - Drama']

,year_film,year_award,ceremony,category,nominee,film,win
126,1951,1952,9,Best Motion Picture - Drama,A Place In The Sun,NaN,True
127,1951,1952,9,Best Motion Picture - Drama,Quo Vadis?,NaN,False
128,1951,1952,9,Best Motion Picture - Drama,A Streetcar Named Desire (1951),NaN,False
129,1951,1952,9,Best Motion Picture - Drama,Bright Victory,NaN,False
130,1951,1952,9,Best Motion Picture - Drama,Detective Story,NaN,False
...,...,...,...,...,...,...,...
7864,2019,2020,77,Best Motion Picture - Drama,1917,NaN,True
7865,2019,2020,77,Best Motion Picture - Drama,"Irishman, The",NaN,False
7866,2019,2020,77,Best Motion Picture - Drama,Joker,NaN,False
7867,2019,2020,77,Best Motion Picture - Drama,Marriage Story,NaN,False
7868,2019,2020,77,Best Motion Picture - Drama,"Two Popes, The",NaN,False